/* Reset default styles */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* General styles */
body {
    background-color: #ADD8E6; /* Light Blue */
    color: #000000; /* Black text */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 0;
    font-size: 2.5em;
    font-weight: bold;
}

.image-container {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: none;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    z-index: 1;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Header styles */
header {
    background-color: #FFFFFF; /* White */
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Main styles */
main {
    padding: 20px;
}

/* Footer styles */
footer {
    background-color: #FFFFFF; /* White */
    padding: 10px;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    font-size: 1em;
}

/* Button styles */
.button {
    background-color: #FFA500; /* Bright Orange */
    color: #FFFFFF; /* White text */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #FF8C00; /* Darker Orange */
}
